
.container{
    padding: 50px;
    background-color: #80808021;
    height: 100%;
}
.title{
    text-align: center;
}
table {
    width: 100%;
}
tr{
    cursor: pointer;
}
td.mat-cell:focus{
    outline: none;
}
tr.mat-row:hover{
    background-color: #d1d4d27e;
}
th.mat-header-cell{
    font-size: 15px;
}
.highlight-up{
    background-color: rgb(233, 205, 205);
}
.highlight-down{
    background-color: rgb(160, 199, 160);
}