
.container{
    padding: 50px;
    background-color: #80808021;
    height: 100%;
}
.add_btn{
    float: right;
    margin-right: 85px;
    background-color: #43c5b8;
    border: 0;
    padding: 12px;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.title{
    text-align: center;
}
table {
    width: 100%;
}
tr{
    cursor: pointer;
}
th{
    font-weight: 600;
}
td.mat-cell:focus{
    outline: none;
}
tr.mat-row:hover{
    background-color: #d1d4d27e;
}
th.mat-header-cell{
    font-size: 15px;
}
.highlight-up{
    background-color: rgb(233, 205, 205);
}
.highlight-down{
    background-color: rgb(160, 199, 160);
}