.root{
    background-color: #efefef;
}
nav{
    width: 95px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    background-color: #43c5b8;
    text-align: center;
    border-radius: 25px;
}
.mat-icon{
    color: whitesmoke;
}